<div class="page-content">
  <h2 class="display-2"><%= @article.title %></h2>
  <% if @article.user == current_user %>
    <%= link_to "編集", edit_article_path(@article), class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" %>
    <%= link_to "削除", @article, method: :delete, data: { confirm: 'この記事を本当に削除しますか？' }, class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" %>
  <% end %>
  <div class="article-area">
    <%= markdown(@article.body).html_safe %>
  </div>
</div>